body {
    background: rgb(245, 244, 244);
}

.links {
    margin-left: 480px;
    margin-top: 70px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.links a {
    font-size: 25px;
    text-decoration: none;
    color: rgba(71, 7, 100, 0.781);
}

.links a:hover {
    color: crimson;
}

.footer {
    margin-top: 73px;
    background: rgb(19, 14, 14);
    height: 200px;
    width: 100%;
    color: bisque;
}

.footer h2 {
    padding-top: 60px;
    margin-left: 50px;
}

.myimage {
    margin-left: 40px;
    margin-top: 10px;
    height: 180px;
    width: 180px;
    border: solid 3px rgb(219, 45, 235);
    border-radius: 60%;
}