<html>

<head>
    <title>Diagonostic Management System using Django</title>

</head>

<body style="background:rgb(223, 224, 224);">
    {% block content %}

    <h1 style="text-align:center;text-decoration:underline;color:darkgreen;">All the Appointments:</h1>

    <table border="2" style="width:800px;margin:auto">
        <thead ">
            <tr>
                <th> ID
                    <br>
                    <br>
                </th>
                <th> First Name
                    <br>
                    <br>
                </th>
                <th style="padding-left:20px; "> Last Name
                    <br>
                    <br>
                </th>
                <th style="padding-left:20px; "> Email
                    <br>
                    <br>
                </th>
                <th style="padding-left:20px; "> Doctor Name
                    <br>
                    <br>
                </th>
                <th style="padding-left:20px; "> Contact
                    <br>
                    <br>
                </th>

            </tr>
        </thead>

        <tbody>
            {% for appointment in appoint_list %}
            <tr>
                <td style="padding-left:10px; ">{{ forloop.counter }}

                </td>
                <td style="padding-left:50px; ">{{ appointment.First_Name }}

                                </td>
                <td style="padding-left:50px; ">{{ appointment.Last_Name }}
                                
                                </td>
                <td style="padding-left:50px; ">{{ appointment.Email }}
                                    
                                </td>
                <td style="padding-left:50px; ">{{ appointment.Doctor_Name }}
                    
                </td>
                <td style="padding-left:50px; ">{{ appointment.Contact }}

</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    {% endblock %}
</body>

</html>