<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body style="background:rgb(223, 224, 224);">



    <h1 style="text-align:center; text-decoration:underline;">Create an Appointment</h1>

    {% block content %}
    <div style="margin-left:390px;margin-top:70px;margin-right:400px;height:430px;background:rgb(189, 185, 185);font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">

        <form style="padding-left:60px;padding-top:20px;font-size:25px;" method="POST" class="form-horizontal"> {% csrf_token %}
            <p style="font-size:20px;color:brown    ;"><b> Please enter the following info's for creating an appointment </b></p>

            {{ form.as_p }}







            <button type="submit" class="btn btn-default">Save</button>
        <button>
        <a style="text-decoration:none;color:rgb(16, 17, 16);" href="{% url 'appointments' %}"> All Appointments </a>
    </button>
    </form>
    </div>





    {% endblock %}

</body>

</html>