<html>

<head>
    <title>Diagonostic Management System using Django</title>

</head>

<body style="background:rgb(223, 224, 224);">
    {% block content %}

    <h1 style="text-align:center;text-decoration:underline;color:darkgreen;">All Doctors:</h1>

    <table border="2" style="width:800px;margin:auto">
        <thead ">
            <tr>  
                <th> ID
                    <br>
                    <br>
                </th>
                <th> Name
                    <br>
                    <br>
                </th>
                <th style="padding-left:20px; "> Designation
                    <br>
                    <br>
                </th>
                <th style="padding-left:20px; "> Email
                    <br>
                    <br>
                </th>
                <th style="padding-left:20px; "> Contact
                    <br>
                    <br>
                </th>

            </tr>
        </thead>

        <tbody>
            {% for doctor in doctor_list %}
            <tr>
                <td style="padding-left:10px; ">
                    {{ forloop.counter }}
                </td>
                <td style="padding-left:50px; ">{{ doctor.Name }}

                </td>
                <td style="padding-left:50px; ">{{ doctor.Designation }}
                   
                </td>
                <td style="padding-left:50px; ">{{ doctor.Email }}
                    
                </td>
                <td style="padding-left:50px; ">{{ doctor.Contact }}
                    
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    {% endblock %}
</body>

</html>