<html>

<head>
    <title>Diagonostic Management System using Django</title>

</head>

<body style="background:rgb(223, 224, 224);">
    {% block content %}

    <h1 style="text-align:center;text-decoration:underline;color:darkgreen;">Daily Health Tips</h1>



    {% for health_tips in tips %}
    <div style="margin-left:80px;">
        <h1 style="text-decoration:underline;color:blue;"> {{ health_tips.title }} </h1>
        <h2 style="border:3px solid red; height:150px;width:80%;color:green;"> {{ health_tips.description }} </h2>
    </div>
    {% endfor %} {% endblock %}
</body>

</html>