<html>

<head>
    <title>Diagnostic Management System using Django</title>
    {% load staticfiles %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body style="background:rgb(223, 224, 224);">
    {% block content %}
    <h1 style="text-align:center;text-decoration:underline;color:darkgreen;">Diagnostic Management System using Django</h1>

    <div class="links">
        <ul>
            <li>
                <a href="{% url 'tests' %}">All Tests</a>
            </li>
            <li>
                <a href="{% url  'doctors' %}">All Doctors </a>
            </li>
            <li>
                <a href="{% url 'appointments' %}">All Appointments</a>
            </li>

            <li>
                <a href="{% url 'create-appointment' %}">Create an Appointment</a>
            </li>
            <li>
                <a href="{% url 'health-tips' %}">Daily Health Tips</a>
            </li>
        </ul><br>
        <h2>
        <a style="text-decoration: none;margin-left:30px;font-size: 20px;color:red;" href="{% url 'dashboard' %}">Back to Dashboard?</a>
    </h2>
    </div>


    <div style="border:4px solid brown;">
      <marquee style="color: blue;font-size: 30px;background: white;">We have a special discount for the old patients. Call: 780145445 for more details.</marquee>
    </div>


    <div class="footer">
        {% load staticfiles %}
        <img src="{% static 'images/yusuf.png' %}" class="myimage">
        <br>


        <h2 style="float:left; padding-left: 220px;margin-top:-200px;">Design & Developed by:
            <br>
            <a style="text-decoration:none;color:red;" href="https://www.facebook.com/RevelYusuf" target=" ">Abu Yusuf</a>
        </h2>

        <h2 style="float:left; padding-left:600px;margin-top:-220px;text-decoration:none;font-size:20px;">About Me
            <br>
            <ul style="font-size:15px;text-decoration:none;">
                <li style="color:cornflowerblue;">Full-Stack Developer</li>
                <li style="color:cornflowerblue;">Pythonista, Djangonaut </li>
                <li style="color:cornflowerblue;">Blogger</li>
                <li style="color:cornflowerblue;">Open-Source Contributor</li>

            </ul>

        </h2>

        <h2 style="float:right;padding-right:200px;margin-top:-220px;text-decoration:none;font-size:20px;">Contact Me

            <ul style="font-size:15px;text-decoration:none;">
                <li>
                    <a style="text-decoration:none;color:darkkhaki;" href="https://www.facebook.com/RevelYusuf">Facebook</a>
                </li>

                <li>
                    <a style="text-decoration:none;color:darkkhaki;" href="https://www.github.com/Revel109">Github</a>
                </li>

                <li>
                    <a style="text-decoration:none;color:darkkhaki;" href="https://www.linkedin.com/in/abu-yusuf-042591116/">LinkedIn</a>
                </li>
                <li>
                    <a style="text-decoration:none;color:darkkhaki;" href="https://www.quora.com/profile/Revel-Yusuf-1">Quora</a>
                </li>


            </ul>

        </h2>


    </div>
    {% endblock %}
</body>

</html>