<html>

<head>
    <title>Diagonostic Management System using Django</title>

</head>

<body style="background:rgb(223, 224, 224);">
    {% block content %}

    <h1 style="text-align:center;text-decoration:underline;color:darkgreen;">All the Tests:</h1>

    <table border="2" style="width:800px;margin:auto">
        <thead ">
            <tr>
                <th> ID
                    <br>
                    <br>
                </th>
                <th > Test Name
                    <br>
                    <br>
                </th>
                <th > Test Type
                    <br>
                    <br>
                </th>
                <th > Test Fee
                    <br>
                    <br>
                </th>
                

            </tr>
        </thead>

        <tbody>
            {% for test in tests %}
            <tr>
                <td style="padding-left:10px; ">
                    {{ forloop.counter }}
                </td>
                <td style="padding-left:50px; ">{{ test.Test_Name }}

                                </td>
                <td style="padding-left:180px; ">{{ test.Test_Type }}
                                                
                                                </td>
                <td style="padding-left:70px; ">{{ test.Test_Fee }}
                                                    
                                                </td>
               
            </tr>
            {% endfor %}

        </tbody>
    </table>

    {% endblock %}
</body>

</html>