<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
</head>

<body style="background:rgb(223, 224, 224);">
    <div style="background:rgb(4, 192, 4);height:100px;">


        {% block content %} {% block area %}
        <h1 style="padding:30px;">
            <a style="text-decoration:none;" href="{% url 'dashboard' %}"> Dashboard </a>
        </h1>
        {% endblock %}
    </div>
    <h1 style="text-align: center;">
        {% if request.user.is_authenticated %} Welcome to your dashboard.. Mr. {{request.user.username}} {% endif %}
    </h1>



    <div id="header">

        {% if request.user.is_authenticated %}
        <ul style="float:right;margin-left:850px;position:relative;top:-150px;right:400px; " class="menu">

            <a style="text-decoration:none; font-size:20px;color:rgb(19, 8, 185);" href="{% url 'dashboard' %}">My dashboard || </a>

            <a style="text-decoration:none; font-size:20px;color:rgb(19, 8, 185);" href="{% url 'profile' %}">My Profile || </a>


            <a style="text-decoration:none;font-size:20px;color:rgb(10, 10, 202);" href="# ">Images || </a>


            <a style="text-decoration:none;font-size:20px;color:rgb(11, 11, 199);" href="# ">People </a>

        </ul>
        {% endif %}
        <span style="float:right;position:relative;top:-240px;right:50px;" class="user ">
            <h2> {% if request.user.is_authenticated %} Hello {{ request.user.last_name }},
                <a href="{% url 'logout' %} ">Logout</a><br>
                <a href="{% url 'password_change' %} ">Change Password</a><br>
                <a href="{% url 'password_reset' %} ">Reset Password</a>
                {% else %}
                <a href="{% url 'login' %} ">Log-in</a>
                {% endif %}
            </h2>
        </span>
    </div>
    <br>

    <!--<h2>-->
        <!--<a style="text-decoration: none;margin-left: 550px;font-size: 25px;" href="{% url 'users' %}">All Authenticated Users</a>-->
    <!--</h2>-->

      <h2>
        <a style="text-decoration: underline;margin-left: 500px;font-size: 25px;color:red;" href="http://127.0.0.1:8000/diagonostic/">Diagonostic Management System</a>
    </h2>


    {% endblock %}
</body>

</html>