<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    {% load staticfiles %}
    <link href="{% static 'css/style2.css' %}" rel="stylesheet">
</head>

<body style="background:rgb(223, 224, 224);">

    {% block content %}
    <h1 style="text-align:center;text-decoration:underline;color:darkgreen;">Awesome Django by-Yusuf</h1>



    <div style="margin-left:400px; margin-top:120px; font-size:25px;">
        {% if user.is_authenticated %}
        <a style="text-decoration:none;color:brown;" class="btn btn-primary" href="{% url 'logout' %}">
            <b>Log Out</b>
        </a>

        {% else %}
        <a style="text-decoration:none;color:limegreen;" class="btn btn-primary" href="{% url 'login' %}">
            <b>Login</b>
        </a>
        <br>
        <p style="color:rgb(139, 4, 4);">Not Registerd yet?</p>
        <a style="text-decoration:none;color:limegreen;" class="btn btn-primary" href="{% url 'register' %}">
            <b>SignUp</b>
        </a>

        {% endif %}
    </div>


    <div class="footer">
        {% load staticfiles %}
        <img src="{% static 'images/yusuf.png' %}" class="myimage">
        <br>


        <h2 style="float:left; padding-left: 220px;margin-top:-200px;">Design & Developed by:
<br>
            <a style="text-decoration:none;color:red;" href="https://www.facebook.com/RevelYusuf" target=" ">Abu Yusuf</a>
        </h2>

        <h2 style="float:left; padding-left:600px;margin-top:-220px;text-decoration:none;font-size:20px;">About Me
            <br>
            <ul style="font-size:15px;text-decoration:none;">
                <li style="color:cornflowerblue;">Full-Stack Developer</li>
                <li style="color:cornflowerblue;">Pythonista, Djangonaut </li>
                <li style="color:cornflowerblue;">Blogger</li>
                <li style="color:cornflowerblue;">Open-Source Contributor</li>

            </ul>

        </h2>

        <h2 style="float:right;padding-right:200px;margin-top:-220px;text-decoration:none;font-size:20px;">Contact Me

            <ul style="font-size:15px;text-decoration:none;">
                <li>
                    <a style="text-decoration:none;color:darkkhaki;" href="https://www.facebook.com/RevelYusuf">Facebook</a>
                </li>

                <li>
                    <a style="text-decoration:none;color:darkkhaki;" href="https://www.github.com/Revel109">Github</a>
                </li>

                <li>
                    <a style="text-decoration:none;color:darkkhaki;" href="https://www.linkedin.com/in/abu-yusuf-042591116/">LinkedIn</a>
                </li>
                <li>
                    <a style="text-decoration:none;color:darkkhaki;" href="https://www.quora.com/profile/Revel-Yusuf-1">Quora</a>
                </li>


            </ul>

        </h2>


    </div>

    {% endblock %}
</body>

</html>