<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
</head>

<body style="background:rgb(245, 237, 228);">
    <h1 style="text-align:center;text-decoration:underline;color:darkgreen;">Authentication for having access of dashboard</h1>

    <div style="margin-left:390px;margin-top:100px;margin-right:400px;height:280px;background:rgb(189, 185, 185);font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">

        <h1 style="text-align:center;padding-top:30px;text-decoration:underline;">Log-in</h1>

        {% block content %} {% if form.errors %}
        <p style="margin-left:50px;color:rgb(179, 11, 11);">
            Your username and password didn't match. Please try again.
        </p>
        {% else %}
        <p style="margin-left:50px;color:rgb(179, 11, 11);">Please, use the following form to log-in:</p>
        {% endif %}

        <form style="margin-left:50px;" action="." method="post">

            {{ form.as_p }} {% csrf_token %}

            <p>
                <input style="background:green;color:rgb(17, 1, 1);border-radius:20%;font-size:15px;" type="submit" value="Log-in">
            </p>

            <p>Not Registered Yet?? <a href="{% url 'register' %}">Sign Up</a>
            </p>

    </div>
    </form>
    <p style="margin-left:780px;color:rgba(4, 44, 24, 0.658);font-size:20px;">
        <b> ©Abu Yusuf</b>
    </p>

    {% endblock %}
</body>

</html>