{% extends "auth/base.html" %} {% block title %}Welcome{% endblock %} {% block content %}
<h1>Welcome {{ new_user.first_name }}!</h1>
<p>Your account has been successfully created. Now you can
    <a href="{% url ' login ' %}">log in</a>.</p>
{% endblock %}
<p style="margin-left:780px;color:rgba(4, 44, 24, 0.658);font-size:20px;">
    <b> ©Abu Yusuf</b>
</p>