<!DOCTYPE html>
<html>

<head>
    <title>Success Page</title>
</head>

<body style=" background: rgb(245, 244, 244);">
    {% block content %}
    <div style="margin-left: 200px;margin-top: 50px;color: green;">
        <h1>Successfully You have Registered to Our Site......</h1>
        <a style="text-decoration:none;color:rgb(129, 5, 123);font-size:30px;margin-left:320px;" class="btn btn-primary" href=" {% url 'login' %}">
            <b>Want to Login?</b>
        </a>
    </div>
    {% endblock %}
    <p style="margin-left:780px;color:rgba(4, 44, 24, 0.658);font-size:20px;">
        <b> ©Abu Yusuf</b>
    </p>
</body>

</html>