
<!DOCTYPE html>
<html>
<head>
	<title>User Profile</title>
	{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}"> 
</head>
<body style="background:rgb(223, 224, 224);">

<h1 style="text-align:center; text-decoration:underline; color: red; ">Your Profile</h1>
	<br>
{% block content %}
<div class="user_profile">
         <h2 style="text-align: center;text-decoration:underline;color:yellow;">
            {% if request.user.is_authenticated %} Mr. {{ request.user.first_name }} {{ request.user.last_name }} {% endif %}	
        </h2> 

        <p>
           <span>First Name:</span> {% if request.user.is_authenticated %} {{ request.user.first_name }} {% endif %}
        </p>
        <p>
          <span>Last Name:</span>  {% if request.user.is_authenticated %}  {{ request.user.last_name }} {% endif %}
        </p>
        <p>
          <span>Email:</span>  {% if request.user.is_authenticated %} {{ request.user.email }} {% endif %}
        </p>
        <p>
           <span>Username:</span> {% if request.user.is_authenticated %} {{ request.user.username }} {% endif %}
        </p>


    </div>

{% endblock %}
</body>
</html>