<html>
<head>
    <title>Registration</title>
</head>
<body style="background:rgb(245, 237, 228);">

    {% block content %}
    <h1 style="text-align:center;text-decoration:underline;color:darkgreen;">Registration:</h1>

    <div style="margin-left:390px;margin-top:70px;margin-right:400px;height:400px;background:rgb(189, 185, 185);font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">


        <h1 style="text-align:center;padding-top:20px;text-decoration:underline;">Create an account</h1>
        <p style="margin-left:50px;color:rgb(197, 21, 21);">Please, sign up using the following form:</p>
        <form style="margin-left:50px;" action="." method="post">
            {{ user_form.as_p }} {% csrf_token %}
            <p>
                <input style="background:green;color:rgb(17, 1, 9);border-radius:10%;font-size:20px;" type="submit" value="Create my account">
            </p>
    </div>
    </form>
    {% endblock %}
    <p style="margin-left:780px;color:rgba(4, 44, 24, 0.658);font-size:20px;">
        <b> ©Abu Yusuf</b>
    </p>
</body>