<html>

<head>
    <title>All Users</title>

</head>

<body style="background:rgb(223, 224, 224);">
    {% block content %}

    <h1 style="text-align:center;text-decoration:underline;color:darkgreen;">All Authenticated Users:</h1>

    <table border="2" style="width:1000px;margin:auto">
        <thead>
            <tr>  
                <th> Number
                    <br>
                    <br>
                </th>
                <th> Username
                    <br>
                    <br>
                </th>
                <th> First Name
                    <br>
                    <br>
                </th>
                <th> Last Name
                    <br>
                    <br>
                </th>
                <th style="padding-left:20px; "> Password
                    <br>
                    <br>
                </th>

            </tr>
        </thead>

        <tbody>
            {% for users in user %}
            <tr>
                <td style="padding-left:10px; ">
                    {{ forloop.counter }}
                </td>
                <td style="padding-left:20px; ">{{ users.username }}

                </td>
                <td style="padding-left:20px; ">{{ users.first_name }}
                   
                </td>
                <td style="padding-left:20px; ">{{ users.last_name }}
                    
                </td>
                <td style="padding-left:20px;">{{ users.password }}
                    
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    {% endblock %}
</body>

</html>